/* Global Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fonts */
@font-face{
    src: url(../fonts/GameOfSquids.ttf);
    font-family: GameOfSquids;
}

.font_titre{
    font-family: 'GameOfSquids', sans-serif;
}

body {
    font-family: 'Roboto', 'Verdana', 'Tahoma' sans-serif;
}

h1, h2, h3, h4 {
    font-family: 'Poppins', sans-serif;
}

p, span, label {
    font-family: 'Roboto', sans-serif;
}

/* Variables */
:root{
    /* Backgrounds */
    --background-main: #0A0F1F;
    --background-border: #1A1F2E;
    --background-hover: #2D3756;
  
    /* Texts */
    --text-primary: #E5E5E5;
    --text-secondary: #8A8FA3;
  
    /* Gradient colors */
    --gradient-blue: #377DFF;
    --gradient-pink: #D74EFF;
    --gradient-red: #FF3C3C;
    --gradient-orange: #FF8C00;
  
    /* Spacing */
    --spacing1: 4px;
    --spacing2: 8px;
    --spacing3: 16px;
    --spacing4: 20px;
    --spacing5: 40px;
    --spacing6: 80px;
    --spacing7: 160px;

    /* Taille photo */
    --pp1 : 50px;
    --pp2 : 75px;
}

/* Cropper */
#cropperContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--background-main);
    padding: 0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    width: 40vw;
    max-width: 100vw;
    display: none;
    border: 1px solid var(--background-border);
}

#imagePreview {
    width: 100%;
    max-height: 40vh;
    display: block;
    object-fit: cover;
    border-radius: 8px;
}

#cropperContainer:hover {
    background: var(--background-hover);
}

/* Utility Classes */
.test {
    border: 1px solid white;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: var(--spacing5);
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
    background-color: var(--background-main);
    margin: auto;
    padding: var(--spacing4); 
    border: 1px solid var(--background-border);
    width: 80%;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.center {
    text-align: center;
}
  
.hidden {
    display: none;
}

.card {
    background-color: var(--background-main);
    border: 1px solid var(--background-border);
    border-radius: 12px;
    padding: 1rem;
    transition: background-color 0.3s ease;
} 
  
.card:hover {
    background-color: var(--background-hover);
}

.invisible {
    visibility: hidden;
}

.block {
    display: block;
}

.flex {
    display: flex;
}


.flex-row {
    flex-direction: row;
}

.flex-col {
    flex-direction: column;
}

.items-start {
    align-items: flex-start;
}

.items-center {
    align-items: center;
}

.items-end {
    align-items: flex-end;
}

.justify-start {
    justify-content: flex-start;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.justify-evenly {
    justify-content: space-evenly;
}

.justify-end {
    justify-content: flex-end;
}

.reverse {
    flex-direction: row-reverse;
}

.gap1{
    gap: var(--spacing1);
}

.gap2{
    gap: var(--spacing2);
}

.gap3{
    gap: var(--spacing3);
}

.text-gradient {
    background: linear-gradient(to right, var(--gradient-blue), var(--gradient-pink), var(--gradient-red), var(--gradient-orange));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.bg-border {
    background-color: var(--background-border);
}

.bg-gradient {
    background: linear-gradient(to right, var(--gradient-blue), var(--gradient-pink), var(--gradient-red), var(--gradient-orange));
}

.bg-gradient-blue {
    background: linear-gradient(to right, var(--gradient-blue), var(--gradient-pink));
}

.text-bold {
    font-weight: bold;
}

.no-border-radius {
    border-radius: 0;
}

.padding1 {
    padding: var(--spacing1) 0;
}

.padding2 {
    padding: var(--spacing2) 0;
}

.padding3 {
    padding: var(--spacing3) 0;
}

.padding4 {
    padding: var(--spacing4) 0;
}

.padding5 {
    padding: var(--spacing5) 0;
}

.padding6 {
    padding: var(--spacing6) 0;
}

.padding7 {
    padding: var(--spacing7) 0;
}

.margin1 {
    margin: var(--spacing1) auto;
}

.margin2 {
    margin: var(--spacing2) auto;
}

.margin3 {
    margin: var(--spacing3) auto;
}

.margin4 {  
    margin: var(--spacing4) auto;
}

.margin5 {
    margin: var(--spacing5) auto;
}

.margin6 {
    margin: var(--spacing6) auto;
}

.margin7 {
    margin: var(--spacing7) auto;
}

.margin-right1 {
    margin-right: var(--spacing1);
}

.margin-left1 {
    margin-left: var(--spacing1);
}

.margin-left2 {
    margin-left: var(--spacing2);
}

.margin-left3 {
    margin-left: var(--spacing3);
}

.margin-left4 {
    margin-left: var(--spacing4);
}

.margin-left5 {
    margin-left: var(--spacing5);
}

.svg_white{
    fill: var(--text-primary);
}

.svg_red{
    fill: var(--gradient-red);
}

.pointer {
    cursor: pointer;
}

.error {
    color: red;
    font-size: 0.75rem;
    margin-top: -20px;
    display: block;
}

.auto_w{
    width: auto;
}

.auto_h{
    height: auto;
}

.auto_w_h{
    width: auto;
    height: auto;
}

.padding-x4{
    padding-left: var(--spacing4);
    padding-right: var(--spacing4);
}

.padbod_l{
    padding-left: 1px;
    border-left: 1px solid var(--text-secondary);
}

.padbod_r{
    padding-right: 1px;
    border-right: 1px solid var(--text-secondary);
}

.padbod_t{
    padding-top: 1px;
    border-top: 1px solid var(--text-secondary);
}

.padbod_b{
    padding-bottom: 1px;
    border-bottom: 1px solid var(--text-secondary);
}

/* Global Styles */
body {
    text-wrap: balance;
    background-color: var(--background-main);
    color: var(--text-primary);  
}

h2, h3, h4 {
    margin: var(--spacing2) 0;
    color: var(--text-primary);
    font-weight: bold;
}

p, span, label {
    color: var(--text-secondary);
}

a {
    color: var(--gradient-blue);
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: var(--gradient-pink);  
    opacity: 0.8;
}

a:visited {
    color: var(--gradient-blue); 
}

a:active {
    color: var(--gradient-pink); 
    opacity: 0.8;
}

svg {
    user-select: none;
}

button {
    background: linear-gradient(to right, var(--gradient-blue), var(--gradient-pink), var(--gradient-red), var(--gradient-orange));
    color: var(--text-primary);
    padding: var(--spacing2) var(--spacing3);
    border: none;
    border-radius: var(--spacing2);
    cursor: pointer;
    transition: box-shadow 0.3s ease;
    font-weight: bold;
}
  
button:hover {
    box-shadow: 0 0 var(--spacing3) var(--gradient-blue);
}

input, textarea, select {
    background-color: var(--background-border);
    color: var(--text-primary);
    border: 1px solid var(--background-hover);
    padding: var(--spacing2);
    border-radius: var(--spacing2);
    width: 100%;
    font-size: var(--spacing3);
}
  
input::placeholder, textarea::placeholder {
    color: var(--text-secondary);
}
  
input:focus, textarea:focus, select:focus {
    outline: none;
    border-color: var(--gradient-pink);
    box-shadow: 0 0 var(--spacing2) var(--gradient-pink);
}
  
input[type="radio"]:focus{
    box-shadow: none;
}

/* Header */

.logo{
    width: var(--pp1);
}

.logo2{
    width: var(--pp2);
}

header{
    display: flex;
    height: 8vh;
    align-items: center;
    padding-bottom: 1px;
    border-bottom: 1px solid var(--text-secondary);
}

#hcontainer1{
    width: 25%;
}

#hcontainer2{
    width: 50%;
}

#hcontainer3{
    width: 25%;
}

#hcontainer3-1{
    width: 100
}

#pp:hover{
    box-shadow: 0 0 var(--spacing4) var(--gradient-blue);
}

/* Sidebar */
aside{
    background: var(--background-border);
    width: 20vw;
    height: 92vh;
    position: sticky;
    top: 0vh;
    overflow-y: auto;
    padding-bottom: 1px;
    border-bottom: 1px solid var(--text-secondary);
    flex-shrink: 0; /* Empêche les asides de rétrécir */
}

#left_sidebar{
    padding-right: 1px;
    border-right: 1px solid var(--text-secondary);
}

#communaute_container1{
    flex-grow: 1;  /* Prend tout l'espace restant */
}

#communaute_container1-2{
    padding-left: 1px;
    border-left: 1px solid var(--text-secondary);
}

/* Communaute */
.vote-up{
    fill: var(--text-primary);
}

.vote-down{
    fill: var(--text-primary);
}

.vote-up.active {
    fill: var(--gradient-blue);
}

.vote-down.active {
    fill: var(--gradient-red);
}

/* Publication */
#pub_container{
    flex-grow: 1;
}