body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Pour tous les liens */
a {
    color: #000000;
    text-decoration: none; 
    transition: color 0.2s ease;
    font-weight: 500;
}
  
/* Pour les liens visités */
a:visited {
    color: #000000; 
}
  
/* Pour les liens au survol */
a:hover {
    color: #444444; 
    opacity: 0.9;
}
  
/* Pour les liens actifs (au clic) */
a:active {
    color: #666666;
    opacity: 0.8;
}

@font-face{
    src: url(../fonts/GameOfSquids.ttf);
    font-family: GameOfSquids;
}

#title{
    font-family: GameOfSquids, serif;
    font-size: 50px;
    text-align: center;
}

.flex{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
/* profil.php */
#cropperContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    z-index: 1000;
    width: 40vw;
    max-width: 100vw;
    display: none;
}

#imagePreview {
    width: 100%;
    max-height: 40vh;
    display: block;
    object-fit: cover;
}

/* Modal */
/* The Modal (background) */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.6);
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }

/* Vote Active */
.active {
    background-color: red;
}